<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">MassRecon</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/search" routerLinkActive="active">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/reports" routerLinkActive="active">Reports</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
