<div class="m-3 container">
  <div class="row">
    <div class="col-lg-12 offset-lg-6">
      <form class="form-horizontal" role="form" [formGroup]="searchForm" (ngSubmit)="searchAction()">
        <div class="col-lg-6">
          <div class="input-group">
            <input class="form-control" type="text" formControlName="query" aria-label="Szukaj">
            <button class="btn btn-outline-warning btn-rounded" type="submit" [disabled]="!searchForm.valid">
              Szukaj
            </button>
          </div>
        </div>

        <div formGroupName="scannersGroup" class="mt-3">
          <div class="form-inline">
            <label class="col-lg-3 control-label">Wyszukiwarka:</label>
            <div class="btn-group-vertical">
              <div class="form-check">
                <input class="form-check-input" formControlName="shodan" type="radio" name="shodan" id="shodan" value="shodan">
                <label class="form-check-label" for="shodan">
                  Shodan
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" formControlName="censys" type="radio" name="censys" id="censys" value="censys">
                <label class="form-check-label" for="censys">
                  Censys
                </label>
              </div>
            </div>
          </div>
        </div>
      </form>
      <mat-icon svgIcon="thumbs-up" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
    </div>
    <div class="col-lg-12 offset-lg-5">
      <app-scan-response [searchResponse]="searchResponse"></app-scan-response>
    </div>
  </div>
</div>

